 <main>
                        
                        <h2>Faça sua Reserva!</h2>
                        <br>
                        <br>
                        <form method="GET" action="orçamento.html">
                            <div class="in-esquerda">
                                <div>
                                    <label for="Nome do evento"> Nome do Evento:</label>
                                    <br>
                                    <input id="nome evento" type="text">
                                </div>
                                <div>
                                    <label for="Tipo de Evento">Tipo de Evento:</label>
                                    <br>
                                    <input id="tipo evento" type="text">
                                </div>
                                <div>
                                    <label for="numero de pessoas">Número de Pessoas:</label>
                                    <br>
                                    <input id="numero de pessoas" type="text">
                                </div>
                                <div>
                                    <label for="E-mail">E-mail:</label>
                                    <br>
                                    <input id="email" type="email">
                                </div>
                                <div>
                                    <label for="Observações">Observações:</label>
                                    <br>
                                    <input id="observações" type="text-box">
                                </div>
                            </div>
                            <div class="meio">
                                <div>
                                    <input type="checkbox" name="serviço de aúdio"
                                    value="áudio"> Necessário serviço de áudio  <br> 
                                </div> 
                                <div>
                                    <input type="checkbox" name="serviço de iluminação"
                                    value="som"> Necessário serviço de iluminação<br> 
                                </div> 
                                <div>
                                    <h3>Agenda</h3>
                                    <input type="date" name="agenda">
                                </div>
                                <h3>Formas de pagamento</h3>
                                <p>Total a pagar : R$10.000</p>
                                <div>
                                    <input  type="checkbox" name="Cartão de Crédito"
                                    value="Crédito"> Cartão de Crédito<br>
                                </div>
                                
                                <div>
                                    <input type="checkbox" name="boleto bancário"
                                    value="Boleto">Boleto Bancário<br>
                                </div>
                                
                                <input type="checkbox" name="transferência"
                                value="transferência"> Transferência <ul>
                                </div>
                                <div class="direita">
                                        <h3>Informações</h3>
                                        <li>
                                            N° da conta:5546798
                                        </li>
                                        <li>
                                            Agência:023456
                                        </li>
                                        <li>
                                            Banco Bradesco
                                        </li>
                                    </ul>
                                    <br>
                                    <br>
                                    <h3>Observações de cancelamento:</h3><p>O cancelamento pode ser feito com até 3 dias de antecedência do evento.<br>
                                        Caso contrário, o indivíduo terá de pagar metade do aluguel do local.</p>
                                    </div>
                        </form>  
                        <form method="GET" action="principal.html">
                            <div class="fim">
                                <input type="submit" value="Finalizar" onclick="alert('Seu evento foi enviado com sucesso. Aguarde sua aprovação.')" />
                            </div>                
                        </form>
                                

                                
                            </main>