<!DOCTYPE html>
<html lang="pt/br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfólio</title>

    <h1> <strong> Flávio Nascimento Pires </Strong> </h1>
    <header>
<img src="img/flaviado.jpg"/>
<p>Telefone:11 950747532 </p>
<p>E-mail: fdnpires@gmail </p>
<p>Localização </p>
<p>Estuda no Senai de desenvolvimento de sistemas</p>
<hr>

<h2><strong>F/N analista de jogos</strong> </h2>
<p><strong>Sobre Flávio</strong></p>
<p>Nasceu em 1990 na zona leste de SP e desde pequeno gosta de futebol. 
    Pretende futuramente exercer a profissão de desenvolvedor de softwares. </p>


<style>
h3{
    color: green
}
</style>
<h3>Experiência</h3>
<ul> 
    <li>
    Trabalhou em uma papelaria(6 meses)
</li>
    <li>Trabalhoou como garçom ( 1 mês)</li>
   <li> Trabalhou com telemarketing(2 anos)</li>
   <li> Trabalhou como analista de produção de DVD/CD- ( 7 anos)</li>
</ul>
<section id="Objetivos">


    <h3>Objetivos</h3>
    <ol>
        <li>Se formar em desenvolvedor de softawares</li>
        <li>Conseguir um cargo de gerência em um bom emprego </li>
        <li>Se tornar rico</li>
        <li>Construir futuramente uma família</li>
        
    </section>
</ol>
<h3><strong>Educação</strong></h3>
<ol>
<li>Período Fundamental e Ensino Médio curosu no colégio Palmarino </li>
<li>Fez curso de web design no Senai- 160 horas</li>
<li>Fez faculdade de engenharia mecatrônica- (inconpleto)</li>
<li>Atualmente cursa SENAI de desenvolvimento de sistemas</li>

<h3>
<strong>Hobbies</strong></h3>
 <ul> 
     <li>Torcer para o palmeiras -7/10</li>
     <li>Fazer Exercícios Físicos-8/10</li>
     <li>Jogar video games- 9/10</li>
     <li>Jogar Bola-10/10</li>
    
</ul>
</ol>


    </header>
    
</head>

<body>
    
</body>
</html>