<main>
        <div class="galeria">
            <h1>Galeria</h1>
        </div>
        <br>
            <div class="section-fotos">

                    <ul>
                      <li><h3>Casamentos</h3>
                        <img src="img/casamento.jpg" alt="Casamento" />
                      </li>
                      <li> <h3>Shows</h3>
                        <img src="img/show de rock.jpg" alt="show de rock" />
                      </li>
                      <li>
                        <h3>Aniversários</h3>
                        <img src="img/aniversário.jpg" alt="aniversários" />
                      </li>
                      <li><h3>Workshops</h3>
                        <img src="img/workshops.jpg" alt="workshop" />
                      </li>
                      <li><h3>Festas de 15 anos</h3>
                        <img src="img/festa de 15.jpg" alt="festa de debutante" />
                      </li>
                      <li><h3>Baladas</h3>
                        <img src="img/festas.jpg" alt="baladas" />
                      </li>
                    </ul>
                  </div>
    </main>